.br{
  margin-top: 5px;
}
.buttons-container {
  top: 10px; /* Ajusta la posición vertical según sea necesario */
  flex-direction: column; /* Coloca los botones en una columna vertical */
  margin-left: 1px;
}
.buttons-container button {
  margin-bottom: 10px; /* Espacio entre los botones */
}
.container {
  margin: 0 20%;
}
.column {
  width: 108%; /* Ajusta el ancho de cada columna según sea necesario */
}
.column2{
  width: 30%; /* Ajusta el ancho de cada columna según sea necesario */
}
.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.example-element-description {
  padding: 16px;
}

.description{
  margin-top: 10px;
}

.info-line {
  display: flex;
  justify-content: space-between;
  margin-right: 100px; 
  margin-left: 50px;
}

.info-line2 {
  display: flex;
  justify-content: space-between;
  margin-right: 100px; 
  margin-left: 50px;
}

.title {
  padding: 30px;
  background-color: #297efd;
  text-align: center;
  color: white;
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  position: relative;
  display: flex;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}
.icon-blue {
  color: blue; /* Cambia el color al que desees, en este caso, azul */
}