<mat-toolbar color="primary">
    <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <h1>RRS EASYPARK</h1>
    <div class="user-info">
        <span>
            Hola,
            {{this.user?.Name | titlecase}}
        </span>
        <button mat-icon-button [matMenuTriggerFor]="userMenu">
            <mat-icon>account_circle</mat-icon>
        </button>
    </div>

    <mat-menu #userMenu="matMenu">
        <button mat-menu-item (click)="logOut()">
            <mat-icon>logout</mat-icon>
            <span>Cerrar Sesion</span>
        </button>
    </mat-menu>
</mat-toolbar>
<mat-drawer-container class="example-container">
    <mat-drawer #drawer mode="side" opened class="custom-drawer">
        <mat-list role="list">
            <mat-list-item role="listitem" routerLink="/Reservation" routerLinkActive="active" class="menu-item">
                {{"RESERVAS" | titlecase}}
            </mat-list-item>
            <mat-list-item role="listitem" routerLink="/RegisterParkingLot" routerLinkActive="active" class="menu-item">
                {{"REGISTRAR PARQUEADERO" | titlecase}}
            </mat-list-item>
        </mat-list>
    </mat-drawer>
    <mat-drawer-content>
        <ng-content></ng-content>
    </mat-drawer-content>
</mat-drawer-container>


  

