<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="login" href="login.component.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<header>
    <div class="container">
        <p class="logo">RRS EASYPARK</p>
        <nav>
            <a href="">INICIO</a>
            <a href="/Login">INICIAR SESION</a>
        </nav>
    </div>
</header>
<body>
    <div class="wrapper">
        <form [formGroup]="form" (ngSubmit)="register()">
            <h1>Registrarse</h1>
            <div class="display">
                <label for="tipoVehiculo" class="label2">Rol:</label>
                <div class="select">
                    <select name="format" id="format" formControlName="rol">
                        <option value="" disabled selected>Rol</option>
                        <option value="Client">CLIENTE PARA PARQUEADEROS</option>
                        <option value="Propietary Park">PROPIETARIO DE PARQUEADERO</option>
                    </select>
                </div>
    
            </div>
            <div class="row">
                <div class="column">
                    <div class="input-box">
                        <input type="text" formControlName="name" matInput placeholder="Nombre">
                    </div>
                    <div class="input-box">
                        <input type="text" formControlName="email" matInput placeholder="Correo">
                    </div>
                </div>
                <div class="column">
                    <div class="input-box">
                        <input type="text" formControlName="identification" matInput placeholder="Identificación">
                    </div>
                    <div class="input-box">
                        <input type="text" formControlName="telephone" matInput placeholder="Telefono">
                    </div>
                </div>

            </div>

            <h2>Usuario</h2>

            <div class="row">
                <div class="column">
                    <div class="input-box">
                        <input type="text" formControlName="nameUser" matInput placeholder="Usuario">
                        <i class='bx bxs-user'></i>
                    </div>
                </div>
                <div class="column">
                    <div class="input-box">
                        <input 
                            type="{{ showPassword ? 'text' : 'password' }}" 
                            [(ngModel)]="password" 
                            formControlName="password"
                            matInput 
                            placeholder="Contraseña"
                            name="password">
                        <button type="button" (click)="showPassword = !showPassword">
                            <i class="bx" [ngClass]="showPassword ? 'bxs-show' : 'bxs-hide'"></i>
                        </button>
                    </div>
                </div>
            </div>

            <button type="submit" [disabled]="!form.valid" mat-raised-button class="btn">Registrar</button>

            <div class="register-link">
                <p>¿Ya tienes Cuenta? <a href="/Login">Iniciar Sesion</a></p>
            </div>
        </form>
    </div>

</body>

</html>